# Ignore all Markdown files
*.md
**/*.md
!README.md

# Dependencies
node_modules

# Database
*.sql

# Environment files
.env
.env.local
backend/.env
frontend/.env

# Logs
*.log

# Uploads and backups
uploads/
backups/

# Security files
*.pem
*.key
*.pfx
*.crt

# Build output
frontend/dist
.env.production
